# Documentation:
#   qute://help/configuring.html
#   qute://help/settings.html

# Uncomment this to still load settings configured via autoconfig.yml
# config.load_autoconfig()

{% for item, value in a_qutebrowser_config_global_settings.items() %}
config.set('{{item}}', {{value}})
{% endfor %}

{% for pattern, conf in a_qutebrowser_config_pattern_settings.items() %}
{% for item, value in conf.items() %}
config.set('{{item}}', {{value}}, '{{pattern}}')
{% endfor %}
{% endfor %}
