#!/bin/bash

cat <<EOF
{
  "antigen_plugins": {{e_skybet_antigen_plugins|to_json}},
  "a_git_author": "{{e_skybet_git_author}}",
  "a_git_email": "{{e_skybet_git_email}}",
  "a_zsh_cdpaths": {{e_skybet_zsh_cdpaths|to_json}},
  "a_ssh_config": {{e_skybet_ssh_config|to_json}}
}
EOF
